[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.11"

[packages]
flask = "*"
requests = "*"
beautifulsoup4 = "*"
numpy = "*"
toml = "*"
click = "*"
pandas = "*"
matplotlib = "*"
scapy = "*"
sphinx = "*"
mkdocs = "*"
sphinx-rtd-theme = "*"
python-markdown-math = "*"
mdx-truly-sane-lists = "*"
packaging = "*"
celery = "*"
uwsgi = "*"
pyqt5 = "*"
fpdf = "*"
