[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.11"

[packages]
sphinx = "*"
mkdocs = "*"
sphinx-rtd-theme = "*"
python-markdown-math = "*"
mdx-truly-sane-lists = "*"
matplotlib = "*"
scapy = "*"
